<p>
  <%= f.label :user_id, "Debtor Username"%>
  <%= f.text_field :user_id %>
  <%= f.label :sum, "Sum Owed"%>
  <%= f.text_field :sum %>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove", "#", class: 'remove-fields' %>
</p>
