<%= form_with model: @deal do |form| %>
  <% if deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
        <% deal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %><br />
  </div>

  <div class="field">
    <%= form.label :credit_sum %>
    <%= form.text_field :credit_sum %><br />
  </div>

  <div class="field">
    <%= form.fields_for :creditor do |f| %>
      <%= render 'creditor_fields', f: f %>
    <% end %>
  </div>

  <div class="field">
    <%= form.fields_for :debtors do |f| %>
      <%= render 'debtor_fields', f: f %>
    <% end %>
  </div>
  <p>
    <%= link_to_add_fields "Add Debtor", form, :debtors %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>

  $('form').on('click', '.remove_fields', function(event) {
    console.log('removed!')
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
  });

  $('form').on('click', '.add_fields', function(event) {
    console.log('clicked!')
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });
</script>
