<p id="notice"><%= notice %></p>

<h1>Deals</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Creditor Username</th>
      <th>Credit Sum</th>
      <th>Debtor Username</th>
      <th>Debtor Sum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.description %></td>
        <td><%= deal.creditor.user_id %></td>
        <td><%= deal.credit_sum %></td>
        <% deal.debtors.each do |debtor| %>
          <td><%= debtor.user_id %></td>
          <td><%= debtor.sum %></td>
        <% end %>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_deal_path %>
