<p id="notice"><%= notice %></p>

<h1>Deals</h1>



<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Creditor Username</th>
      <th>Credit Sum</th>
      <% most_debtors_id = 0 %>
      <% most_debtors = 0 %>
      <% @deals.each do |deal| %>
        <% counter = 0 %>
        <% deal.debtors.each do |debtor| %>
          <% counter += 1 %>
        <% end %>
        <% if counter > most_debtors %>
          <% most_debtors = counter %>
          <% most_debtors_id = deal.id %>
        <% end %>
      <% end %>
      <% most_debtors.times do |i| %>
        <th>Debtor <%= i + 1 %> Username</th>
        <th>Debtor <%= i + 1 %> Sum</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.description %></td>
        <% @user = User.find(deal.creditor.user_id) %>
        <td><%= @user.username %></td>
        <td><%= deal.credit_sum %></td>
        <% remaining_debtors = most_debtors %>
        <% deal.debtors.each do |debtor| %>
          <% remaining_debtors -= 1 %>
          <% @user = User.find(debtor.user_id) %>
          <td><%= @user.username %></td>
          <td><%= debtor.sum %></td>
        <% end %>
        <% remaining_debtors.times do |a| %>
          <td></td>
          <td></td>
        <% end %>
        <td><%= link_to 'Show', deal %></td>
        <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
        <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_deal_path %>
