<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>

<p>
  <strong>Credit sum:</strong>
  <%= @deal.credit_sum %>
</p>

<p>
  <strong> Debtors: </strong>
</p>
<% @deal.debtors.each do |debtor| %>
  <p>
    <%= debtor.user_id %>
    <%= debtor.sum %>
  </p>
<% end %>
<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
