<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>
<% @user = User.find(@deal.creditor.user_id) %>
<p>
  <strong>Creditor:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Credit sum:</strong>
  <%= @deal.credit_sum %>
</p>

<p>
  <strong> Debtors: </strong>
</p>
<table>
  <thead>
    <tr>
      <th> Username: </th>
      <th> Sum: </th>
    </tr>
  </thead>

  <tbody>
  <% @deal.debtors.each do |debtor| %>
    <tr>
      <% @user = User.find(debtor.user_id) %>
      <td><%= @user.username %></td>
      <td><%= debtor.sum %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_deal_path(@deal) %> |
<%= link_to 'Back', deals_path %>
