<p id="notice"><%= notice %></p>

<p>
  <strong>Creditor:</strong>
  <%= @transaction.creditor_id %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @transaction.credit %>
</p>

<p>
  <strong>Decimal:</strong>
  <%= @transaction.decimal %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Group:</strong>
  <%= @transaction.group_id %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @transaction.confirmed %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
